* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --dark: #000;
  --course: #F4E408;
  --light: #fff;
}
body {
  background-color: var(--dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header {
  background: var(--course);
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 8vw;
  letter-spacing: -0.04em;
}
main {
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
h3 {
  font-size: 2em;
}
p{
  max-width: 30em;
}
a,
a:visited {
  color: var(--course);
}
a:hover,
a:focus {
  background:var(--course);
  color: var(--dark);
}
.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

/* ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;

  width: 100%;
  overflow-x: hidden;
}
ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul img {
  border: 0.1rem solid var(--light);

}
img {
  max-width: 100%;
} 
*/


/* GALLERY */
section#gallery{ }
ul.gallery{
  padding: 0;
  margin: 0;
}
ul.gallery li{
  border-bottom: var(--course) solid 0.2rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  display: inline-block;
  vertical-align: top;
  max-width: 20em;
}
ul.gallery img{
  width: 100%;
}
ul.gallery li h3{
 margin-top: 0;
}


/* LECTURERS & SPEAKER */
section#lecturers{ }
section#speakers{ }
section#lecturers ul, section#speakers ul{
  width: 100%;
  overflow-x: scroll;
  margin: 0 -1rem;
  padding: 1rem;

  display: flex; 
	flex-wrap: nowrap;
	flex-direction: row;
}
section#lecturers li, section#speakers li{
  flex-shrink: 0;
  margin-right: 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#lecturers img {
  border-radius: 100%;
  /* margin-right: 1em; */
  max-width: 12rem;
}
section#speakers img{
  /* margin-right: 1em; */
  max-width: 12rem;
}

/* FOOTER */
footer {
  font-style: italic;
  /* max-width: 30rem; */
}

  /* 
  RESPONSIVE
  */
  @media all and (min-width: 36em) { 
    main {
      padding: 2em;
    }
    ul.gallery li{
      max-width: 48%;
    }
    ul.gallery li p {
      padding-right: 1rem;
    }
    section#lecturers ul, section#speakers ul{
      margin: 0 -2rem;
      padding: 2rem;
    }
  }
  @media all and (min-width: 60em) { 
    ul.gallery li{
      max-width: 32%;
    }
  }

